DATABASE_URL="mysql://avnadmin:PASSWORD_ASLI_DARI_AIVEN@mysql-337a2943-kuliner-project-ukl.a.aivencloud.com:20543/defaultdb?ssl-mode=REQUIRED"
JWT_SECRET="kuliner_secret_key"
JWT_EXPIRES_IN="7d"
PORT=3000